.sidbarandcontent
{
    margin-top: 1%;
}

.feature-img
{
    height: 200px; 
    width: 100%;
}

.footer
{
    height: 60px;
    background-color: #597ec8;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top:20px; 
}

.footer p{
    padding-top: 1%;
}